.mobile-form {
    padding-bottom: 20px;
}

.mobile-form__icons-row {
    display: inline-block;
    vertical-align: top;
    padding: 40px 0 0 15px;
}

.mobile-form__link {
    margin: 15px 0 0 30px;
    padding: 0;
    text-decoration: underline;
    background-color: transparent;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    color: #868e96;
}