<main class="text-center vertical-align">
    <h1>Оплата товара прошла успешно!</h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
            <div class="panel-container">
                <h3>Наименование и описание товара</h3>
            </div>
            <div class="panel-container">
                <div class="row">
                    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://im0-tub-ru.yandex.net/i?id=c485f942b3f7303c63099c63270ed19b&n=33&h=215&w=410" alt="headphones" class="img-thumbnail">
                    </div>
                    <div class="col-xs-1 col-sm-6 col-md-6 col-lg-6">
                        With up to 40 hours of battery life, Beats Solo3 Wireless is your perfect everyday headphone. With Fast Fuel, a 5-minute charge gives you 3 hours of playback. Enjoy award-winning Beats sound with Class 1 Bluetooth® wireless listening freedom. The on-ear, cushioned ear cups are adjustable so you can customize your fit for all-day comfort.
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <strong class="text-primary">1 шт.</strong>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">х</div>
                    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2">
                        <strong class="text-primary">0.01 руб.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-center panel-container panel-container--nonbordered">
        <a class="btn btn-default btn-primary btn-lg" href="/" role="button">Вернуться назад</a>
    </div>
</main>
