<header class="header-main">
    <a class="header-main__logo" href="http://developer.qiwi.com">
        <img alt="QIWI" src="https://static.qiwi.com/njsf/qiwi-kassa/1.4.0/assets/logo-new-kassa.svg" height="40">
    </a>
    <nav class="header-main__nav">
        <ul>
            <li><a href="http://developer.qiwi.com">Документация</a></li>
            <li class="active"><a href="http://188.225.76.15:5000">Демо</a></li>
        </ul>
    </nav>
</header>