.item {
    position: relative;
    margin: 23px 0 64px;
}

.item__pic {
    position: absolute;
    top: 0;
    right: 0;
    height: 128px;

    @media (max-width: 870px) {
        position: relative;
        display: block;
        margin: 0 auto;
        height: 187px;
    }
}

.item__title {
    margin: 0 0 9px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #000000;

    @media (max-width: 870px) {
        margin: 28px 0 14px;
    }
}

.item__about {
    margin: 0 0 29px;
    padding: 0;
    max-width: 340px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    text-align: left;
    color: #9b9b9b;

    @media (max-width: 870px) {
        max-width: 100%;
    }
}
