.item {
    position: relative;
    margin: 23px 0 64px;
}

.item__pic {
    position: absolute;
    top: 0;
    right: 0;
}

.item__title {
    margin: 0 0 9px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #000000;
}

.item__about {
    margin: 0 0 29px;
    padding: 0;
    max-width: 340px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    text-align: left;
    color: #9b9b9b;
}

.values {
    max-width: 332px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    list-style: none;
    font-size: 12px;
    font-weight: 300;
}

.values__lines {
    margin-top: 7px;
}

.values li:first-child {
    margin-top: 0;
}

.values__lines--dotted::before {
    float: left;
    width: 0;
    white-space: nowrap;
    color: #dedede;
    content:
    "...................."
    "...................."
    "...................."
    "...................."
    "...................."
    "...................."
    "....................";
}

.values__lines--counted {
    font-size: 16px;
    font-weight: bold;
    margin-top: 18px;
}

.values__lines--minor {
    color: #9b9b9b;
}

.values span:first-child {
    padding-right: 2px;
    background: #FFF;
}

.values span + span {
    float: right;
    padding-left: 2px;
    background: #FFF;
    font-weight: bold;
}