.item {
    position: relative;
    margin: 23px 0 64px;
}

.item__pic {
    position: absolute;
    top: 0;
    right: 0;
}

.item__title {
    margin: 0 0 9px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #000000;
}

.item__about {
    margin: 0 0 29px;
    padding: 0;
    max-width: 340px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    text-align: left;
    color: #9b9b9b;
}

