@font-face {
    font-family: "Museo";
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic-100-cyrillic/MuseoSansCyrl-100-webfont.eot');
    src: /* url('../fonts/MuseoSansCyrl/museosanscyrillic-100-cyrillic/MuseoSansCyrl-100-webfont.eot?#iefix') format('embedded-opentype'), */
    url('../fonts/MuseoSansCyrl/museosanscyrillic-100-cyrillic/MuseoSansCyrl-100-webfont.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic-100-cyrillic/MuseoSansCyrl-100-webfont.woff') format('woff')/* ,
    url('../fonts/MuseoSansCyrl/museosanscyrillic-100-cyrillic/MuseoSansCyrl-100-webfont.ttf') format('truetype') */;
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: "Museo";
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic-300-cyrillic/MuseoSansCyrl-300-webfont.eot');
    src: /* url('../fonts/MuseoSansCyrl/museosanscyrillic-300-cyrillic/MuseoSansCyrl-300-webfont.eot?#iefix') format('embedded-opentype'), */
    url('../fonts/MuseoSansCyrl/museosanscyrillic-300-cyrillic/MuseoSansCyrl-300-webfont.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic-300-cyrillic/MuseoSansCyrl-300-webfont.woff') format('woff')/* ,
    url('../fonts/MuseoSansCyrl/museosanscyrillic-300-cyrillic/MuseoSansCyrl-300-webfont.ttf') format('truetype') */;
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: "Museo";
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic-500-cyrillic/MuseoSansCyrl-500-webfont.eot');
    src: /* url('../fonts/MuseoSansCyrl/museosanscyrillic-500-cyrillic/MuseoSansCyrl-500-webfont.eot?#iefix') format('embedded-opentype'), */
    url('../fonts/MuseoSansCyrl/museosanscyrillic-500-cyrillic/museosanscyrl-500-webfont.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic-500-cyrillic/museosanscyrl-500-webfont.woff') format('woff')/* ,
    url('../fonts/MuseoSansCyrl/museosanscyrillic-500-cyrillic/MuseoSansCyrl-500-webfont.ttf') format('truetype') */;
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: "Museo";
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic-700-cyrillic/MuseoSansCyrl-700-webfont.eot');
    src: /* url('../fonts/MuseoSansCyrl/museosanscyrillic-700-cyrillic/MuseoSansCyrl-700-webfont.eot?#iefix') format('embedded-opentype'),
 */    url('../fonts/MuseoSansCyrl/museosanscyrillic-700-cyrillic/MuseoSansCyrl-700-webfont.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic-700-cyrillic/MuseoSansCyrl-700-webfont.woff') format('woff')/* ,
    url('../fonts/MuseoSansCyrl/museosanscyrillic-700-cyrillic/MuseoSansCyrl-700-webfont.ttf') format('truetype') */;
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: "Museo";
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic-900-cyrillic/MuseoSansCyrl-900-webfont.eot');
    src: /* url('../fonts/MuseoSansCyrl/museosanscyrillic-900-cyrillic/MuseoSansCyrl-900-webfont.eot?#iefix') format('embedded-opentype'), */
    url('../fonts/MuseoSansCyrl/museosanscyrillic-900-cyrillic/MuseoSansCyrl-900-webfont.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic-900-cyrillic/MuseoSansCyrl-900-webfont.woff') format('woff')/* ,
    url('../fonts/MuseoSansCyrl/museosanscyrillic-900-cyrillic/MuseoSansCyrl-900-webfont.ttf') format('truetype') */;
    font-weight: 900;
    font-style: normal;

}