.link-with-icon {
  padding: 0px;
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-with-icon__text {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0053c9;
  margin-left: 9px;
  text-decoration: none;
}

.link-with-icon__img-logo {
  width: 20px;
  height: 20px;
}
