.menu {
    position: fixed;
    left: 0;
    top: 80px;
    bottom: 0;
    width: 230px;
    height: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #d8d8d8;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 999;
    transition: transform 0.5s ease-in 0.2s;

    @media (max-width: 870px) {
        z-index: 1;
        top: 0;
        transform: translateX(-230px);

        .translated & {            
            transform: translateX(0);
        }
    }
}

.nav {
    padding: 10px 0;

    &__item--active > a {
        color: #f8f9fa;
        background-color: #ff8c00;
    }
}

.nav__indicator,
.nav__item-second-links {
    opacity: 0;
}

.nav__indicator {
    padding-top: 10px;
}

.nav__item-second-links {
    opacity: 0;
    transition: transform 0.2s ease-out;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
}

.nav__item--active .nav__indicator,
.nav__item--active .nav__item-second-links {
    transform: scaleY(1);
    opacity: 1;
    position: relative;
}

.nav__item-main-link {
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.nav__item-second-link {
    padding: 10px 15px 10px 25px;
    display: inline-block;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box;
}

.nav ul {
    margin:0;
    padding: 0;
    list-style: none;
}

.nav li {
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #000000;
}

.main-menu-wrapper {
    width: 100%;
    overflow-x: auto;
}

.main-menu {
    padding: 0;
    margin: 0;
    display: none;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;

    &-item {
        display: inline-block;
        padding: 30px 0;
        margin: 0 16px;
        height: 20px;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: #000000;

        & a {
            color: #000000;
            text-decoration: none;
        }

        &--active {

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                box-sizing: border-box;
                height: 3px;
                border-radius: 4px 4px 0 0;
                width: 100%;
                background-color: #ff8c00;
            }
        }
    }

    @media (max-width: 870px) {
        display: block;
    }
}
