.confirm-form {
    margin: 19px 0 40px;
}

.confirm-form__instruction {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    @media (max-width: 895px) {
        width: 70%;
    }
}

.confirm-form__icon {
    margin-top: 5px;
    vertical-align: top;
}

.confirm-form__instruction li {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: #9b9b9b;
    padding-left: 35px;
    position: relative;
}

.confirm-form__instruction li::before {
    content: '•';
    font-size: 10px;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
    position: absolute;
    top: 0;
    left: 15px;
}
