.LinkButton{
    /*position: relative;
    left: 240px;
    top: 10px;
    font-weight: 500;
    */
    //font-size: 15px;
    //font-family: MuseoSansCyrillic;



    padding: 0px;
}



.LinkCSS{
    //color: #0053c9;;
    //margin-top: 110px;
    //font-size: 12px;
    //font-family: MuseoSansCyrillic;

    //top: 623px;
    //right: 321px;

}
#text{
    //top: 623px;
    //right: 321px;
    //width: 256px;
    //height: 20px;
    //height: 12px;
    font-family: MuseoSansCyrillic;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0053c9;
    margin-left: 10px;
float: left;
    margin-top: 3px;
    a {
        text-decoration: none;
    }
}
#pic {
    width: 20px;
    height: 20px;
    float: left;
    //float: left;
    //font-size:15px;
    /*width: 19.4px;
    height: 20px;
    left: 466px;
    right: 457.6px;*/
    //background-color: $tangerine;
}

.img{
font-size: 15px;
}
.common{

}

