.LinkButton{
    padding: 0px;
    max-height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
    }
}

.text{
    font-family: MuseoSansCyrillic;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0053c9;
    margin-left: 9px;
}

.imgLogo {
    width: 20px;
    height: 20px;
}