{
    "sourceMaps": true,
    "presets": [
        "env",
        ["es2015",
        {
            "loose": true
        }],
        "stage-0"
    ],
    "plugins": [
        "transform-async-to-generator",
        "syntax-async-functions",
        "transform-runtime",
        "transform-regenerator",
        ["transform-decorators-legacy"],
        ["transform-react-jsx"]
    ]
}