.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.75;
    text-align: left;
    border-bottom: 1px solid #d8d8d8;
    z-index: 1000;
    transition: transform 0.5s ease-in;

    .translated &{
        transform: translateX(0);
    }

    @media (max-width: 870px) {
        border: 0;
        transform: translateX(0);

        .translated &{
            transform: translateX(230px);
        }
    }

    
}

.header__toggle-menu {
    display: none;
    background: transparent;
    border: 0;
    padding: 16px;
    margin: 0;
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;

    @media (max-width: 870px) {
        display: block;
    }
}

.header__logo {
    position: absolute;
    top: 18px;
    left: 16px;

    @media (max-width: 870px) {
        left: 86px;
    }
}

.header__menu {
    position: absolute;
    top: 0;
    left: 152px;
    padding: 0;
    margin: 0;

    &-item {
        display: inline-block;
        padding: 30px 0;
        margin: 0 16px;
        height: 20px;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: #000000;

        & a {
            color: #000000;
            text-decoration: none;
        }

        &--active {

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                box-sizing: border-box;
                height: 3px;
                border-radius: 4px 4px 0 0;
                width: 100%;
                background-color: #ff8c00;
            }
        }
    }

    @media (max-width: 870px) {
        display: none;
    }
}

.header__help {
    position: absolute;
    top: 26px;
    right: 158px;

    &-title {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.0;
        text-align: left;
        color: #000000;
        opacity: 0.3;
        margin-bottom: 5px;
    }

    & a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 300;
        line-height: 0.75;
        text-align: left;
        color: #000000;
    }

    @media (max-width: 870px) {
        display: none;
    }
}


.header__lang {
    position: absolute;
    top: 0;
    right: 44px;
    padding: 0;
    margin: 0;

    & .header__menu-item {
        display: inline-block;
        padding: 34px 0 0;
        margin: 0 8px;
        position: relative;

        & button {
            font-size: 16px;
            font-weight: 500;
            line-height: 0.75;
            text-align: left;
            color: #000000;
            background-color: transparent;
            border: 0;
            padding: 0;
            cursor: pointer;
            outline: none;
        }

        & button:disabled {
            opacity: 0.3;
        }

        &--active {

            &::after {
                display: none;
            }

        }
    }

    @media (max-width: 870px) {
        right: 32px;
    }
}
