.main-action {
    min-width: 200px;
    height: 50px;
    border-radius: 100px;
    background-color: #00b06b;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    padding: 0 28px;
    border: 0;
    cursor: pointer;
}
